body {
  font-family: 'Roboto Mono', monospace;
  background-color: #1da8c0; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

button#calcularBtn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button#calcularBtn:hover {
  background-color: #1565c0;
}


#resultado {
  margin-top: 20px;
  font-weight: bold;
  color: #830404;
  text-align: center;
}
